@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
  --bg-color: #d0d0d0;
  --orange-hl: #ffc400;
}

@font-face {
  font-family: Minecrafter;
  src: url(./fonts/minecrafter.ttf);
}

@keyframes slideInTop {
  0% {
    margin-top: -100vh;
  }

  100% {
    margin-top: 0;
  }
}

@keyframes slideOutTop {
  0% {
    margin-top: 0;
  }

  100% {
    margin-top: -100vh;
  }
}

@keyframes slideInBottom {
  0% {
    margin-bottom: -100vh;
  }

  100% {
    margin-bottom: 0;
  }
}

@keyframes slideOutBottom {
  0% {
    margin-bottom: 0;
  }

  100% {
    margin-bottom: -100vh;
  }
}

@keyframes expandVertically {
  0% {
    min-height: 0;
  }

  100% {
    min-height: 3rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sliding-in-top {
  animation: slideInTop 600ms ease-out;
}

.sliding-in-bottom {
  animation: slideInBottom 600ms ease-out;
}

.sliding-out-top {
  animation: slideOutTop 600ms ease-out;
}

.sliding-out-bottom {
  animation: slideOutBottom 600ms ease-out;
}

#root {
  overflow: hidden;
  display: flex;
}

.app {
  display: flex;
  flex: 1 1 100%;
  height: 100vh;
  font-family: Montserrat;
  font-weight: 400;
  box-sizing: border-box;
}

.page-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.page-slidable {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
}

.navbar {
  background: linear-gradient(0, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%), url(images/stone_bricks.png) repeat;
  background-size: 48px;
  image-rendering: crisp-edges;
  font-family: Minecrafter;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  text-shadow: 0 1px 2px black;
  color: whitesmoke;
  text-align: end;
  padding: 0 16px 0 16px;
  align-items: stretch;
  box-sizing: border-box;
}

.homelink {
  background-image: url(./images/bg3.jpg);
  background-position: center;
  height: 120px;
  width: 360px;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 16px;
  box-shadow: inset 0 0 0 4px rgba(255,255,255,0.1), 0 2px 4px 2px rgba(0,0,0,0.4);
  transition: ease-in box-shadow 100ms, ease-in margin-bottom 100ms, ease-in margin-top 100ms;
}

.homelink::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0);
  transition: ease-in background-color 100ms;
}

.homelink:hover {
  margin-top: 12px;
  margin-bottom: 20px;
  box-shadow: inset 0 0 0 4px rgba(255,255,255,0.1), 0 8px 8px 0 rgba(0,0,0,0.2);
}

.homelink:hover::before {
  background-color: rgba(255,255,255,0.1)
}

.page {
  display: flex;
  width: 100%;
  background-color: red;
  position: relative;
}

.market {
  flex-direction: column;
  background: linear-gradient(45deg, rgba(252, 136, 4, 0.3) 30%, transparent 100%), url(./images/bg3.jpg) center;
  background-size: cover;
  box-shadow: inset 0 0 0 4px rgba(255,255,255,0.1), -2px 0 4px 0 rgba(0,0,0,0.4);
  box-sizing: border-box;
  padding-bottom: 32px;
}

.page > .title {
  font-family: Minecrafter;
  text-align: center;
  padding: 32px 0;
  font-size: 2.2rem;
  color: whitesmoke;
  text-shadow: 0 2px 4px black;
}

.market-inner {
  border-radius: 8px;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.4);
  overflow: hidden;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 16px;
  overflow: auto;
}

.items-list::after {
  content: "";
  width: 100%;
  display: block;
  height: 16px;
}

.mc-item {
  display: flex;
  flex-direction: column;
  flex: 1 0 160px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.75);
  margin: 16px;
  margin-top: 16px;
  cursor: pointer;
  position: relative;
  margin-bottom: 16px;
  opacity: 1;
  animation: fadeIn 200ms ease-in;
  box-shadow: inset 0 0 0 4px rgba(255,255,255,0.1), 0 4px 4px 0 rgba(0,0,0,0.2);
  transition: ease-in box-shadow 100ms, ease-in margin-bottom 100ms, ease-in margin-top 100ms;
}

.mc-item::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  display: block;
  background-color: rgba(255,255,255,0);
  transition: ease-in background-color 100ms;
}

.mc-item:hover {
  margin-top: 10px;
  margin-bottom: 22px;
  box-shadow: inset 0 0 0 4px rgba(255,255,255,0.1), 0 8px 8px 0 rgba(0,0,0,0.2);
}

.mc-item:hover::before {
  background-color: rgba(255,255,255,0.2)
}

.item-icon {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.item-icon > img {
  width: 64px;
  height: 64px;
  image-rendering: crisp-edges;
}

.item-info {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.item-info > div {
  display: flex;
  flex: 1 1 auto;
  padding: 4px 16px;
  align-items: center;
  font-size: 1.4rem;
  color: white;
}

.item-listings {
  background-color: gray;
  overflow: auto;
}

.item-listings::before {
  content: "x";
  width: 24px;
  text-align: center;
  color: rgba(255,255,255,0.6);
}

.item-min-price {
  background-color: dodgerblue;
  border-radius: 0 0 8px 8px;
}

.item-min-price::before {
  content: "z";
  width: 24px;
  text-align: center;
  color: rgba(255,255,255,0.6);
}

.listings {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.listings tbody {
  overflow: auto;
}

.listing {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
}

.listing td {
  padding: 16px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.listings-header {
  position: sticky;
  top: 0;
  background-color: rgba(255,255,255,0.3);
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.listings-header th {
  padding: 16px;
  box-sizing: border-box;
  transition: background-color 200ms linear;
  cursor: pointer;
}

.listings-header th:first-child {
  border-radius: 8px 0 0 0;
}

.listings-header th:last-child {
  border-radius: 0 8px 0 0;
}

.listings-header th:hover {
  background-color: rgba(255,255,255,0.4);
}

.listings tr:nth-child(2n) {
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
}

.listings tr:not(.listings-header):nth-child(2n+1) {
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
}

.listings tr:not(.listings-header) {
  transition: background-color 200ms linear;
}

.listings tr:not(.listings-header):hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.listing > .seller-face > img {
  border-radius: 4px;
  margin-right: 16px;
  box-shadow: 0 0 0 3px rgba(255,255,255,0.8), 0 0 2px 0 rgba(0,0,0,0.4);
}

.listing > .seller-face {
  width: 40%;
}

.listing > td.seller-face {
  justify-content: center;
  box-sizing: border-box;
}

.listing > .item-count, .listing > .price {
  justify-content: center;
  width: 20%;
}

.listing > .total {
  flex: 1 1 auto;
  justify-content: center;
  width: 20%;
}

.search-container {
  display: flex;
}

.search-bar {
  display: flex;
  position: relative;
  width: 100%;
  padding: 32px 32px 0 32px;
}

.search-bar-input {
  appearance: none;
  border: none;
  height: 40px;
  font-family: Montserrat;
  padding: 0 40px 0 16px;
  border-radius: 20px;
  flex: 1 1 auto;
  display: flex;
  box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.1);
}

.search-icon {
  position: absolute;
  right: 48px;
  height: 40px;
  color: lightgray;
}

.mkt-back-button {
  position: absolute;
  right: 48px;
  font-size: 48px;
  top: 32px;
  color: rgba(255,255,255,0.4);
  transition: color 200ms linear;
  cursor: pointer;
}

.mkt-back-button:hover {
  color: rgba(255,255,255,0.9);
}