@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
  --bg-color: #d0d0d0;
  --orange-hl: #ffc400;
}

@font-face {
  font-family: Minecrafter;
  src: url(./fonts/minecrafter.ttf);
}

@keyframes slideInLeft {
  0% {
    margin-left: -100vw;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes slideOutLeft {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -100vw;
  }
}

@keyframes slideInRight {
  0% {
    margin-right: -100vw;
  }

  100% {
    margin-right: 0;
  }
}

@keyframes slideOutRight {
  0% {
    margin-right: 0;
  }

  100% {
    margin-right: -100vw;
  }
}

@keyframes expandVertically {
  0% {
    min-height: 0;
  }

  100% {
    min-height: 3rem;
  }
}

.sliding-in-left {
  animation: slideInLeft 400ms ease-out;
}

.sliding-in-right {
  animation: slideInRight 400ms ease-out;
}

.sliding-out-left {
  animation: slideOutLeft 400ms ease-out;
}

.sliding-out-right {
  animation: slideOutRight 400ms ease-out;
}

#root {
  background: linear-gradient(45deg, rgba(255,255,255,0.4) 30%, transparent 100%), url(./images/bg1.png) center;
  background-size: cover;
  overflow: hidden;
}

.app {
  display: flex;
  flex: 1 1 auto;
  min-height: 100vh;
  max-height: 100vh;
  align-items: center;
  flex-direction: column;
  font-family: Montserrat;
  font-weight: 400;
  padding-bottom: 64px;
  box-sizing: border-box;
}

.app-header {
  width: 70vw;
  height: 64px;
  display: flex;
  flex-direction: column;
  padding: 16px 64px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2.4rem;
  width: 3rem;
  height: 3rem;
  transition: color 100ms linear;
  animation: expandVertically 400ms ease-in;
}

.back-button:hover {
  color: var(--orange-hl);
}

.app-body {
  flex: 1 1 auto;
  display: flex;
}

.page-container {
  flex: 1 1 auto;
  display: flex;
}

.page-slidable {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.page {
  width: 70vw;
  display: flex;
  flex-direction: column;
  padding: 0 32px;
  max-height: calc(100vh - 160px);
}

.homelink {
  background-image: url(./images/bg3.png);
  background-position: center;
  height: 300px;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 32px 48px;
  border-radius: 32px;
  box-shadow: inset 0 0 0 4px rgba(255,255,255,0.1), 0 4px 4px 0 rgba(0,0,0,0.2);
  transition: ease-in box-shadow 100ms, ease-in margin-bottom 100ms, ease-in margin-top 100ms;
}

.homelink::before {
  content: "";
  top: 0;
  left: 0;
  border-radius: 32px;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0);
  transition: ease-in background-color 100ms;
}

.homelink:hover {
  margin-top: 28px;
  margin-bottom: 36px;
  box-shadow: inset 0 0 0 4px rgba(255,255,255,0.1), 0 8px 8px 0 rgba(0,0,0,0.2);
}

.homelink:hover::before {
  background-color: rgba(255,255,255,0.1)
}

.homelink-name {
  font-family: Minecrafter;
  font-size: 2rem;
  text-shadow: 0 2px 0 darkgray;
  color: whitesmoke;
  text-align: end;
}

.market {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgba(252, 136, 4, 0.3) 30%, transparent 100%), url(./images/bg2.png) center;
  background-size: cover;
  box-shadow: inset 0 0 0 4px rgba(255,255,255,0.1), 0 4px 4px 0 rgba(0,0,0,0.2);
  border-radius: 32px;
  box-sizing: border-box;
  padding-bottom: 32px;
}

.page > .title {
  font-family: Minecrafter;
  text-align: center;
  padding: 32px 0;
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 0 4px 0px #606060;
}

.market-inner {
  border-radius: 32px;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  flex: 1 1 auto;
  box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.2);
  overflow: hidden;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 16px;
  overflow: auto;
}

.items-list::after {
  content: "";
  width: 100%;
  display: block;
  height: 16px;
}

.mc-item {
  display: flex;
  flex: 1 0 240px;
  height: 100px;
  border-radius: 16px;
  background-color: rgba(255,255,255,0.75);
  margin: 16px;
  margin-top: 16px;
  cursor: pointer;
  position: relative;
  margin-bottom: 16px;
  box-shadow: inset 0 0 0 4px rgba(255,255,255,0.1), 0 4px 4px 0 rgba(0,0,0,0.2);
  transition: ease-in box-shadow 100ms, ease-in margin-bottom 100ms, ease-in margin-top 100ms;
}

.mc-item::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  display: block;
  background-color: rgba(255,255,255,0);
  transition: ease-in background-color 100ms;
}

.mc-item:hover {
  margin-top: 10px;
  margin-bottom: 22px;
  box-shadow: inset 0 0 0 4px rgba(255,255,255,0.1), 0 8px 8px 0 rgba(0,0,0,0.2);
}

.mc-item:hover::before {
  background-color: rgba(255,255,255,0.2)
}

.item-icon {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.item-icon > img {
  width: 64px;
  height: 64px;
  image-rendering: crisp-edges;
}

.item-info {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.item-info > div {
  display: flex;
  flex: 1 1 auto;
  padding: 0 16px;
  align-items: center;
  font-size: 1.6rem;
  color: white;
}

.item-listings {
  background-color: deeppink;
  border-radius: 0 16px 0 0;
  overflow: auto;
}

.item-listings::before {
  content: "#";
  margin-right: 8px;
  color: rgba(255,255,255,0.6);
}

.item-min-price {
  background-color: dodgerblue;
  border-radius: 0 0 16px 0;
}

.item-min-price::before {
  content: "z";
  margin-right: 8px;
  color: rgba(255,255,255,0.6);
}

.listings {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.listings tbody {
  overflow: auto;
}

.listing {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
}

.listings-header th {
}

.listing td, .listing td {
  padding: 16px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.listings-header {
  position: sticky;
  top: 0;
  background-color: rgba(255,255,255,0.3);
  border-radius: 32px 32px 0 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.listings-header th {
  padding: 16px;
  box-sizing: border-box;
}

.listings tr:nth-child(2n) {
  background-color: rgba(255,255,255,0.1);
}

.listings tr:not(.listings-header):nth-child(2n+1) {
  background-color: rgba(255,255,255,0.2);
}

.listing > .seller-face > img {
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.4);
}

.listing > .seller-face {
  width: 50%;
}

.listing > td.seller-face {
  justify-content: space-between;
  box-sizing: border-box;
}

.listing > .item-count, .listing > .price {
  justify-content: center;
  width: 10%;
}

.listing > .total {
  flex: 1 1 auto;
  justify-content: center;
  width: 30%;
}